.custom-button {
    width: 199px;
    height: 56px;
    background: #8BC540;
    border-radius: 5px;
    border-color: #A4A4A4;
    font-style: normal;
    font-size: 100%;
    font-weight: 400;
    color: white;
    line-height: 43px;
    border: 0px;
}
