{
	"parser": "@typescript-eslint/parser",
	"extends": ["plugin:@typescript-eslint/recommended"],
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"rules": {
		"no-unused-vars": "warn",
		"@typescript-eslint/no-unused-vars": "warn",
		"@typescript-eslint/no-explicit-any": "off",
		"prefer-rest-params": "warn",
		"prefer-const": "warn"
	},
	"env": {
		"node": true
	},
	"plugins": ["@typescript-eslint"]
}
