<div class="container-md mt-1 mb-5" *ngIf="stockData$ | async">
  <div class="accordion" id="accordionProductStock">
    <ng-container
      *ngFor="let stock of stockData$ | async; let indexStock = index"
    >
      <div class="accordion-item">
        <h2
          class="accordion-header"
          id="heading{{ indexStock }}"
          [attr.data-testid]="'shop-header' + indexStock"
        >
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + indexStock"
            aria-expanded="false"
            [attr.aria-controls]="'collapse' + indexStock"
            [attr.data-testid]="'shop-button' + indexStock"
          >
            <div class="text-header">{{ stock.locationName }}</div>
          </button>
        </h2>
        <div
          [id]="'collapse' + indexStock"
          class="accordion-collapse collapse"
          [attr.aria-labelledby]="'heading' + indexStock"
          [attr.data-testid]="'collapse' + indexStock"
        >
          <div class="accordion-body">
            <table class="table" aria-describedby="stock-table">
              <thead>
                <tr class="header">
                  <th
                    class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"
                    [attr.data-testid]="'brandModel-' + indexStock"
                  >
                    Brand/Model
                  </th>
                  <th
                    class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"
                    [attr.data-testid]="'brandModelColor-' + indexStock"
                  >
                    Color
                  </th>
                  <th
                    class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"
                    [attr.data-testid]="'brandModelQty-' + indexStock"
                  >
                    QTY
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let productStock of stock.productStock">
                  <tr
                    class="product-name"
                    [attr.data-testid]="productStock.productName"
                  >
                    <td class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                      {{ productStock.productName }}
                    </td>
                    <td class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></td>
                    <td
                      class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"
                      data-testid="productTotalQty"
                    >
                      {{ productStock.totalStockAval | number : "1.0-0" }}
                    </td>
                  </tr>
                  <ng-container
                    *ngFor="let colorStock of productStock.colorStock"
                  >
                    <tr
                      [attr.data-testid]="
                        productStock.productName + '-' + colorStock.color
                      "
                    >
                      <td
                        class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"
                      ></td>
                      <td class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        {{ colorStock.color }}
                        <div class="warning-message">
                          <ng-container *ngIf="colorStock.stockAval === '0'">
                            ( Stock Online )</ng-container
                          >
                        </div>
                      </td>
                      <td
                        class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"
                        [attr.data-testid]="
                          productStock.productName +
                          '-' +
                          colorStock.color +
                          'Stock'
                        "
                      >
                        {{ colorStock.stockAval | number : "1.0-0" }}
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    class="text-center"
    *ngIf="(stockData$ | async)?.length == 0 && (isLoaded$ | async)"
  >
    {{ errorText }}
  </div>
</div>
<div class="action-container" *ngIf="!(stockData$ | async)">
  <app-loading></app-loading>
</div>
