.ais-logo {
  width: 100px;
  height: 40px;
}

.queue-box {
  border: 2px solid var(--mc-gray-200);
  width: 300px;
  height: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}