.header-imei-model {
  background-color: var(--mc-primary-color);
  color: var(--mc-white-color);
}

.btn-close {
  opacity: 1 !important;
}

.modal-fade {
  width: 100%;
  background-color: #0000008c;
}

.modal-dialog {
  max-width: 700px;
}
